body {
	color: #343434;
}

.site-header {
   padding:0;

   &.featured-image::after {
   	opacity: 0;
   	background: none transparent;
   }
}

.site-title a {
	font-family: 'Spicy Rice', cursive;
	font-size: 75px;
	text-shadow: 1px 1px 3px #fff;
   opacity: 1!important;
   color: #8737b1!important;
   
    -webkit-transition: text-shadow 1s ease-out 1s;
       -moz-transition: text-shadow 1s ease-out 1s;
         -o-transition: text-shadow 1s ease-out 1s;
            transition: text-shadow 1s ease-out 1s;

   &:hover {
      color: #8737b1!important;
      opacity: 1!important;
      text-shadow: 1px 1px 8px #fff;
   }
}

.site-branding {
   .site-description {
      font-size: 13px;
      text-shadow: 0 1px 14px #222;
   }

   .tagline {
      float: right;
      position: relative;
      bottom:0;
      right:0;

   	h3 {
         text-align: right;
         color: #fff;
         text-shadow: 0 2px 5px #222;
         margin: 15px 0 0;
         font-size: 20px;
         line-height: 20px;
         font-weight: 500;
         font-family: "Georgia", serif;
   	}
   }
}

.home .entry-header {
   display: none;
}


@media only screen and (min-width: 768px) {
   .site-branding {
      margin: 0 50px;
   }
}